/************ Typography ************/
@font-face {
    font-family: 'RobotoSlab-Bold';
    font-weight: 600;
    src: url('../fonts/RobotoSlab-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url('../fonts/Montserrat-SemiBold.ttf');
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    line-height: 1.3em;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 1.1em;
}

h1, .h1 {
    font-size: 56px;
    line-height: 1.45em;
    margin-bottom: 0.65em;
}

h2, .h2 {
    font-size: 32px;
}

h3, .h3 {
    font-size: 24px;
}

p {
    line-height: 1.4em;
    margin: 0px 0px 1.4em 0px;
}

figure {
    margin: 0px;
}


/************ Base ************/
html,
body {
    height: 100%;
    min-height: 100%;
    color: #333333;
    font-family: 'Montserrat';
    font-size: 17px;
    line-height: 1.2em;
}

body {
    display: flex;
    flex-direction: column;
}

.header, .footer {
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
}

.link {
    transition: color 0.35s;
}

/*body {*/
/*-webkit-touch-callout: none; /* iOS Safari */
/*-webkit-user-select: none; /* Safari */
/*-khtml-user-select: none; /* Konqueror HTML */
/*-moz-user-select: none; /* Old versions of Firefox */
/*-ms-user-select: none; /* Internet Explorer/Edge */
/*user-select: none; /* Non-prefixed version, currently */
/*}*/


/************ Common ************/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

section.gray {
    background-color: #F4F7F9;
}

section.green {
    background-color: #27AE60;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        padding-left: 18px;
        padding-right: 18px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

/************ Button ************/
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 34px;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.35s, background-color 0.35s, border-color 0.35s;
}

.btn--primary {
    color: #FFFFFF;
    background-color: #27AE60;
}

.btn--primary:hover {
    background-color: #31C670;
}

.btn--white {
}

.btn.btn--outline {
    border: 1px solid #fff;
}

.btn.btn--outline:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.btn.btn--link {
    border: 0px;
    padding: 0px 30px 0px 20px;
}

.btn.btn--link .btn_content {
    border-bottom: 1px dashed currentColor;
}

.btn.btn--link .icon {
    margin-right: 8px;
}

.btn.btn--link:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/************ Link ************/
.link,
.link:hover {
    color: inherit;
    text-decoration: none;
}

.link.primary {
    color: #27AE60;
}

.link.primary:hover {
    color: #1A8748;
}

/************ Icons ************/
.icon.icon--solohaul-logo {
    width: 49px;
    height: 64px;
    color: #FFFFFF;
}

.icon.icon--play {
    width: 90px;
    height: 90px;
    color: #FFFFFF;
}

.icon.icon--weather {
    width: 30px;
    height: 26px;
}

.icon.icon--arrow-right {
    width: 11px;
    height: 8px;
}

.icon.icon--transfer {
    width: 106px;
    height: 73px;
}

.icon.icon--place {
    width: 30px;
    height: 30px;
    color: #FFFFFF;
}

.icon.icon--wall-clock {
    width: 40px;
    height: 40px;
    color: #FFFFFF;
}

.icon.icon--hotel-bell {
    width: 40px;
    height: 40px;
    color: #FFFFFF;
}

.icon.icon--location {
    width: 40px;
    height: 40px;
    color: #FFFFFF;
}

.icon.icon--parking-sign {
    width: 40px;
    height: 40px;
    color: #FFFFFF;
}

.icon.icon--facebook {
    width: 40px;
    height: 40px;
    color: #FFFFFF;
}

.icon.icon--vk {
    width: 40px;
    height: 40px;
    color: #FFFFFF;
}

.icon.icon--youtube {
    width: 40px;
    height: 40px;
    color: #FFFFFF;
}

.icon.icon--instagram {
    width: 40px;
    height: 40px;
    color: #FFFFFF;
}

.icon.icon--ok {
    width: 40px;
    height: 40px;
    color: #FFFFFF;
}

.icon.icon--twitter {
    width: 40px;
    height: 40px;
    color: #FFFFFF;
}

.icon.icon--visa {
    width: 90px;
    height: 40px;
}

.icon.icon--mastercard {
    width: 90px;
    height: 40px;
}

.icon.icon--mir {
    width: 90px;
    height: 40px;
}

.icon.icon--chevron-left {
    width: 7px;
    height: 12px;
}

.icon.icon--chevron-right {
    width: 7px;
    height: 12px;
}

/************ Logo ************/
.logo {
}

.logo_icon {
    height: 50px;
}

.logo_title {
    display: none;
    width: 100px;
}

@media (min-width: 450px) {
    .logo_icon {
        display: none;
    }

    .logo_title {
        display: inline-block;
    }
}

@media (min-width: 576px) {
    .logo_icon {
        display: inline-block;
        margin-right: 20px;
    }
}

@media (min-width: 768px) {
    .logo_icon {
        margin-left: 0px;
    }
}

@media (min-width: 992px) {
    .logo_icon {
        display: inline-block;
        height: 65px;
        margin-right: 20px;
    }

    .logo_title {
        display: inline-block;
        width: 140px;
    }
}

@media (min-width: 1200px) {
}


/************ Header ************/
.header {
    height: 60px;
    background-color: #27AE60;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header .icon.icon--solohaul-logo {
    width: 36px;
    height: 48px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .header {
        height: 80px;
    }

    .header .icon.icon--solohaul-logo {
        width: 49px;
        height: 64px;
    }
}

@media (min-width: 1200px) {
    .header {
        height: 90px;
    }
}


/************ Menu ************/
.menu {
    display: none;
    align-items: stretch;
    height: 100%;
    color: white;
}

/*
    position: absolute;
    display: flex;
    background-color: white;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 60px;
    align-self: auto;
    justify-content: center;
    box-shadow: 0px 4px 4px #00000026;
    z-index: 0;
    color: #000;
*/
.menu_item {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    color: inherit;
    font-size: 15px;
    height: 100%;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.menu_item:hover {
    background-color: #239C56;
}

.menu_item .menu {
    position: absolute;
    display: none;
}

.menu_item:hover .menu {
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 100%;
    z-index: 10;
    height: auto;
    width: 404px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: #000;
    font-size: 17px;
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}


.menu_item .menu a.menu_item-link {
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    display: flex;
    align-items: center;
}

.menu_item .menu a.menu_item-link:hover {
    background-color: #F2F2F2;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .menu {
        display: flex;
    }
}

@media (min-width: 1200px) {
    .menu_item {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 17px;
    }
}


/************ Phone ************/
.phone {
    display: flex;
    flex-direction: column;
    justify-items: start;
    color: #ffffff;
}

.phone_number {
    font-size: 18px;
    font-weight: 600;
}

.phone_office-hours {
    font-size: 12px;
    text-align: right;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    .phone_number {
        font-size: 24px;
    }
}


/************ BURGER ************/
#burger-menu {
    width: 40px;
    height: 30px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#burger-menu span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 7px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .35s ease-in-out;
}

#burger-menu span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

#burger-menu span:nth-child(2) {
    top: 12px;
    transform-origin: left center;
}

#burger-menu span:nth-child(3) {
    top: 24px;
    transform-origin: left center;
}

#burger-menu.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#burger-menu.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 26px;
    left: 8px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    #burger-menu {
        display: none;
    }
}

@media (min-width: 1200px) {
}


/************ HERO ************/
.hero {
    color: #FFFFFF;
    background-image: url("../img/content/main-hero-bg.jpg");
    background-size: cover;
    background-position: bottom;
}

.hero .container {
    position: relative;
    display: flex;
    padding-top: 170px;
    padding-bottom: 170px;
}

.hero_content {
    max-width: 684px;
}

.hero .title {
    font-family: 'RobotoSlab-Bold', sans-serif;
}

.sub-title {
    font-size: 24px;
    margin-bottom: 50px;
}

.hero_play-wrapper {
    display: none;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.hero_play {
    width: 90px;
    height: 90px;
    cursor: pointer;
    color: #FFFFFF;
}

.hero_play:hover {
    color: #27AE60;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .hero_play-wrapper {
        display: flex;
    }
}

@media (min-width: 1200px) {
}


/************ WEATHER ************/
.weather-widget {
    position: absolute;
    right: 26px;
    bottom: 50px;
}

.weather-widget_title {
}

.weather-widget_data {
}

.weather-widget_icon {
}

.weather-widget_temperature {
}


/************ BREADCRUMBS ************/
.breadcrumbs {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 15px;
}

.breadcrumbs_item {
    display: flex;
    align-items: center;
}

.breadcrumbs_item--active {
    color: #27AE60;
}

.breadcrumbs_item:not(:last-child) {
    margin-right: 10px;
}

.breadcrumbs_item > a {
    color: #333333;
}


/************ PAGINATION ************/
.pagination {
    display: flex;
    justify-content: center;
}

.pagination_wrapper {
    display: flex;
}

.pagination_btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.pagination_btn:hover {
    color: #27AE60;
}

.pagination_btn.pagination_btn--active {
    background-color: #27AE60;
    color: #FFFFFF;
}

.pagination_btn--dots:hover {
    cursor: default;
    color: currentColor;
}
@media (min-width: 576px) {
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
/************ ABOUT ************/
.about {
    padding-top: 70px;
    padding-bottom: 35px;
}

.about .container {
    display: flex;
    flex-direction: column;
}

.about .about_content {
    margin-bottom: 30px;
    max-width: 100%;
}

.about .about_image-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.about .picture {
    width: 100%;
    height: auto;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .about .about_content {
        margin-bottom: 50px;
    }
}

@media (min-width: 992px) {
    .about .container {
        flex-direction: row;
    }

    .about .about_content {
        margin-right: 40px;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
}


/************ SERVICES ************/
.services {
    padding-top: 35px;
    padding-bottom: 70px;
}

.services .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.services .grid_cell {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .services .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .services .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
}

/************ CARD ************/
.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    border: 0px solid transparent;
    border-radius: 8px;
    transition: box-shadow 0.35s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}

.card:hover {
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}

.card_image {
    position: relative;
    overflow: hidden;
    height: 250px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_image.effect-chico img {
    transition: transform 0.35s;
    transform: scale(1.2);
}

.card:hover .card_image.effect-chico img {
    transform: scale(1.1);
}

.card_content {
    flex-grow: 1;
    padding: 20px 20px 10px 20px;
}

.card_hint {
    font-size: 15px;
    color: #27AE60;
    margin-bottom: 20px;
}

.card_title {
    transition: color 0.35s;
}

.card_description {
    margin-bottom: 0px;
}

.card_footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px 20px;
}

.card_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #27AE60;
    border-radius: 50%;
    color: #27AE60;
    width: 35px;
    height: 35px;
}

.card:hover .card_button {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #27AE60;
}

/************ CARD MODS ************/
/** CARD MOD service **/
.card.card--service {
}

/** CARD MOD program **/
.card.card--program {
}

/** CARD MOD individual-program **/
.card.card--individual-program .card_content {
    padding-bottom: 20px;
}

.card.card--individual-program:hover .card_title {
    color: #27AE60;

}

/************ Transfer ************/
.transfer {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background-color: #27AE60;
}

.transfer .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.transfer_content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.transfer_logo {
    width: 80px;
    margin-bottom: 30px;
}

.transfer_description {
    max-width: 470px;
    text-align: center;
}

.transfer_description .title {
    margin-bottom: 12px;
}

.transfer_description p {
    margin-bottom: 0;
}

.transfer_buttons {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
}

.transfer_buttons .btn:first-child {
    margin-bottom: 26px;
    /*margin-right: 26px;*/
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .transfer .container {
        flex-direction: row;
    }

    .transfer_content {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 0px;
    }

    .transfer_logo {
        margin-right: 30px;
        margin-bottom: 0px;
    }

    .transfer_description {
        text-align: left;
        max-width: 470px;
    }

    .transfer_buttons {
        flex-direction: row;
        align-items: center;
    }

    .transfer_buttons .btn:first-child {
        margin-right: 26px;
        margin-bottom: 0px;
    }
}

@media (min-width: 1200px) {
}


/************ programs ************/
.programs {
    padding-top: 70px;
    padding-bottom: 90px;
}

.programs .grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
}

.programs .grid_cell {
}

/************ individual-programs ************/
.individual-programs {
    padding-top: 70px;
    padding-bottom: 90px;
}

.individual-programs .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.individual-programs .grid_cell {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .individual-programs .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .individual-programs .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
}

/************ Sell ************/
.sell {
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #27AE60;
}

.sell .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sell .divider {
    display: block;
    height: 1px;
    width: 100%;
    margin: 30px 0px;
    background-color: #fff;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-row-gap: 40px;
}

.info_item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.info_item .info_item-icon {
    margin-right: 0px;
    margin-bottom: 10px;
}

.sell_content {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.sell_content .title {
    margin-bottom: 25px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .sell .container {
        flex-direction: row;
    }

    .sell .divider {
        height: 114px;
        width: 1px;
        margin: 0px 40px;
    }

    .info {
        grid-template-columns: 1fr 1fr;
        grid-gap: 35px;
    }

    .info_item {;
        flex-direction: row;
        text-align: left;
    }

    .info_item .info_item-icon {
        margin-right: 20px;
        margin-bottom: 0px;
    }

    .sell_content .title {
        text-align: center;
    }
}

@media (min-width: 1200px) {
}


/************ FOOTER ************/
.footer {
    color: #FFFFFF;
    background-color: #1C222C;
}

.footer .address,
.footer .office-hours {
    text-align: center;
}

.footer .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .col:not(:last-child) {
    margin-bottom: 36px;
}

.footer .col.col--special {
    min-width: 290px;
}

.footer .link-wrapper {
    margin-bottom: 18px;
}

.footer .link:hover {
    color: #27AE60;
}

.footer .phone {
    color: #27AE60;
    margin-bottom: 36px;
}

.footer .phone .phone_number {
    font-size: 32px;
}

.footer .phone .phone_number:hover {
    color: #31C670;
}

.footer .title.title--socials,
.footer .title.title--payment-methods {
    margin-bottom: 14px;
}

.footer_first {
    padding-top: 60px;
    padding-bottom: 50px;
    border-bottom: 1px solid #828282;
}

.footer_second {
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 15px;
}

.footer_second .link {
    color: #828282;
}

.footer_second .link:hover {
    color: #FFF;
}

.footer_second .link:not(:last-child) {
    margin-bottom: 24px;
}

.footer_first .container,
.footer_second .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.wrapper.wrapper--socials,
.wrapper.wrapper--payments {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
}

.wrapper.wrapper--socials {
    margin-bottom: 36px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .footer_first .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer_first .col.col--special {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer_first .phone {
        width: 100%;
    }

    .footer_first .col {
        align-items: flex-start;
        /* text-align: left; */
    }

    .footer .address, .footer .office-hours {
        text-align: left;
    }

    .wrapper.wrapper--socials,
    .wrapper.wrapper--payments {
        align-items: flex-start;
    }

    .footer_second .container {
        flex-direction: row;
        align-items: flex-start;
    }
}

@media (min-width: 992px) {
    .footer_first .container {
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .footer_first .col.col--special {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .wrapper.wrapper--socials {
        margin-bottom: 32px;
    }
}

@media (min-width: 1200px) {
    .footer .address,
    .footer .office-hours {
        text-align: left;
    }

    .footer .col {
        align-items: flex-start;
    }

    .footer_first .container,
    .footer_second .container {
        flex-direction: row;
        align-items: flex-start;
    }

    .footer_second .link:not(:last-child) {
        margin-bottom: 0px;
    }

}


/************ GALLERY ************/
.gallery {
    padding-top: 70px;
    padding-bottom: 90px;
}

/************ CONTACT FORM ************/
.contact-form {
    padding-top: 70px;
    padding-bottom: 90px;
}

/************ SOCIALS ************/
.socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
    /*margin-bottom: 36px;*/
    transition: color 0.35s;
}

.socials .socials_item .icon {
    color: #FFFFFF;
}

.socials .socials_item:hover .icon {
    color: #27AE60;
}


/************ PAYMENT-METHODS ************/
.payment-methods {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
}


/************ ARTICLES ************/
.articles-wrapper .pagination {
    padding-top: 60px;
    padding-bottom: 60px;
}
@media (min-width: 576px) {
    .articles-wrapper .pagination {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}


/************ ARTICLE ITEM ************/
.article {
    border: 0px solid transparent;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    height: 270px;
    transition: box-shadow 0.35s;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.article + .article {
    margin-top: 30px;
}

.article:hover {
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}

.article_image {
    display: none;
}

.article_content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 20px 20px 10px;
}

.article_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.article_published {
    color: #828282;
    margin-bottom: 20px;
}

.article_title {
    margin-bottom: 20px;
}

.article_annotation {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article_footer {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
}

.article_button {
    display: flex;
    align-items: center;
    color: #333333;
    transition: color 0.35s;
}

.article_button:hover {
    text-decoration: none;
    color: #27AE60;
}

.article_button-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid currentColor;
    border-radius: 50%;
    margin-left: 10px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .article {
        height: 300px;
    }
    .article_image {
        display: block;
        width: 190px;
    }
    .article_content-wrapper {
        padding: 30px 25px 20px 25px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    .article_image {
        width: 360px;
    }

    .article_content-wrapper {
        padding: 30px 40px 20px 40px;
    }
}

/************ 404 ************/
.not-found {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 70px 0px;
}

.not-found .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1070px;
}

.not-found_picture {
    width: 100%;
    max-width: 358px;
    height: auto;
    margin-bottom: 40px;
}

.not-found_description .title,
.not-found_description p {
    text-align: center;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .not-found .container {
        flex-direction: row;
    }

    .not-found_picture {
        margin-right: 40px;
    }

    .not-found_description .title,
    .not-found_description p {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .not-found_picture {
        margin-right: 60px;
    }
}
