/************ Typography ************/
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url('../fonts/Montserrat-SemiBold.ttf');
}

h1, h2, h3, h4 {
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 1.1em;
}
h1 {
    font-size: 56px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
p {
    line-height: 1.3em;
    margin: 0px 0px 1em 0px;
}

/************ Base ************/
html,
body {
    height: 100%;
    min-height: 100%;
    font-family: 'Montserrat';
    line-height: 1.2em;
}
body {
    display: flex;
    flex-direction: column;
}
.header, .footer {
    flex-shrink: 0;
}
.content {
    flex-grow: 1;
}
/*body {*/
    /*-webkit-touch-callout: none; /* iOS Safari */
    /*-webkit-user-select: none; /* Safari */
    /*-khtml-user-select: none; /* Konqueror HTML */
    /*-moz-user-select: none; /* Old versions of Firefox */
    /*-ms-user-select: none; /* Internet Explorer/Edge */
    /*user-select: none; /* Non-prefixed version, currently */
/*}*/


/************ Common ************/
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        padding-left: 18px;
        padding-right: 18px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

/************ Button ************/
.btn {
    display: inline-flex;
    justify-content: center;
    padding: 0px 34px;
    align-items: center;
    height: 58px;
    cursor: pointer;
}
.btn--primary {}
.btn--white {}
.btn.btn--outline {
    border: 1px solid #fff;
    border-radius: 4px;
}

.btn.btn--outline:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.btn.btn--link {
    border-radius: 4px;
    border: 0px;
    padding: 0px 30px 0px 20px;
}
.btn.btn--link .btn_content {
    border-bottom: 1px dashed currentColor;
}
.btn.btn--link .icon {
    margin-right: 8px;
}

.btn.btn--link:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/************ Link ************/
.link,
.link:hover {
    color: inherit;
    text-decoration: none;
}


/************ Logo ************/
.logo {}
.logo_icon {
    height: 50px;
}
.logo_title {
    display: none;
    width: 100px;
}
@media (min-width: 450px) {
    .logo_icon {
        display: none;
    }
    .logo_title {
        display: inline-block;
    }
}
@media (min-width: 576px) {
    .logo_icon {
        display: inline-block;
        margin-right: 20px;
    }
}
@media (min-width: 768px) {
    .logo_icon {
        margin-left: 0px;
    }
}
@media (min-width: 992px) {
    .logo_icon {
        display: inline-block;
        height: 65px;
        margin-right: 20px;
    }
    .logo_title {
        display: inline-block;
        width: 140px;
    }
}
@media (min-width: 1200px) {}
@media (min-width: 1400px) {}


/************ Header ************/
.header {
    height: 60px;
    background-color: #27AE60;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {
    .header {
        height: 80px;
    }
}
@media (min-width: 1200px) {
    .header {
        height: 90px;
    }
}
@media (min-width: 1400px) {}



/************ Menu ************/
.menu {
    display: none;
    align-items: stretch;
    height: 100%;
    color: white;
}
/*
    position: absolute;
    display: flex;
    background-color: white;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 60px;
    align-self: auto;
    justify-content: center;
    box-shadow: 0px 4px 4px #00000026;
    z-index: 0;
    color: #000;
*/

.menu_item {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    color: inherit;
    font-size: 15px;
    height: 100%;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.menu_item:hover {
    background-color: #239C56;
}

.menu_item .menu {
    position: absolute;
    display: none;
}

.menu_item:hover .menu {
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 100%;
    z-index: 10;
    height: auto;
    width: 404px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: #000;
    font-size: 17px;
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}


.menu_item .menu a.menu_item-link {
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    display: flex;
    align-items: center;
}

.menu_item .menu a.menu_item-link:hover {
    background-color: #F2F2F2;
}
@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {
    .menu {
        display: flex;
    }
}
@media (min-width: 1200px) {
    .menu_item {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 17px;
    }
}
@media (min-width: 1400px) {}


/************ Phone ************/
.phone {
    display: flex;
    flex-direction: column;
    justify-items: start;
    color: #ffffff;
}

.phone_number {
    font-size: 18px;
    font-weight: 600;
}

.phone_office-hours {
    font-size: 12px;
    text-align: right;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .phone_number {
        font-size: 24px;
    }
}

@media (min-width: 1400px) {}


/************ BURGER ************/
#burger-menu {
    width: 40px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#burger-menu span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 7px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#burger-menu span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#burger-menu span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#burger-menu span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#burger-menu.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#burger-menu.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#burger-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 26px;
    left: 8px;
}
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    #burger-menu {
        display: none;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}



/************ Transfer ************/
.transfer {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background-color: #27AE60;
}
.transfer .container {
    display: flex;
    align-items: center;
}
.transfer_content {
    display: flex;
    flex-grow: 1;
}
.transfer_logo {
    margin-right: 30px;
}
.transfer_description {
    max-width: 470px;
}
.transfer_description .title{
    margin-bottom: 12px;
}
.transfer_description p {
    margin-bottom: 0;
}
.transfer_buttons{
    display: flex;
    flex-shrink: 0;
}
.transfer_buttons .btn:first-child {
    margin-right: 26px;
}



/************ Sell ************/
.sell {
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #27AE60;
}
.sell .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sell .divider {
    height: 114px;
    width: 1px;
    background-color: #fff;
    display: block;
    margin: 0px 20px;
}
.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
}
.info_item {
    display: flex;
    align-items: center;
}

.info_item .info_item-icon {
    margin-right: 20px;
}
.sell_content {
    display: flex;
    flex-direction: column;
}
.sell_content .title {
    margin-bottom: 25px;
}


/************ FOOTER ************/
.footer {
    color: #FFFFFF;
    background-color: #1C222C;
}

.footer .address,
.footer .office-hours {
    text-align: center;
}

.footer .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .col:not(:last-child) {
    margin-bottom: 36px;
}
.footer .col.col--special {
    min-width: 290px;
}

.footer .link-wrapper {
    margin-bottom: 18px;
}

.footer .link:hover {
    color: #27AE60;
}

.footer .phone {
    color: #27AE60;
    margin-bottom: 36px;
}

.footer .phone .phone_number {
    font-size: 32px;
}

.footer .phone:hover {
    color: #27AE60;
}

.footer .title.title--socials,
.footer .title.title--payment-methods{
    margin-bottom: 14px;
}

.footer_first {
    padding-top: 60px;
    padding-bottom: 50px;
    border-bottom: 1px solid #828282;
}

.footer_second {
    padding-top: 30px;
    padding-bottom: 60px;
}
.footer_second .link {
    color: #828282;
}
.footer_second .link:hover {
    color: #FFF;
}
.footer_second .link:not(:last-child) {
    margin-bottom: 24px;
}

.footer_first .container,
.footer_second .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .footer .address,
    .footer .office-hours {
        text-align: left;
    }
    .footer .col {
        align-items: flex-start;
    }
    .footer_first .container,
    .footer_second .container {
        flex-direction: row;
    }
    .footer_second .link:not(:last-child) {
        margin-bottom: 0px;
    }
}

@media (min-width: 1400px) {}
/************ SOCIALS ************/
.socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
    margin-bottom: 36px;
}


/************ PAYMENT-METHODS ************/
.payment-methods {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
}
